[user]
	name = bradypp
	email = 53856442+bradypp@users.noreply.github.com
[core]
	autocrlf = false
	eol = lf
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[credential]
	helper = store
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/home/paul/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/paul/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
