[Desktop Entry]
Exec=/home/paul/.local/bin/open-filemanager
Name=Filemanager
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
