[Desktop Entry]
Exec=/home/paul/.local/bin/editor
Name=Editor
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
