[Desktop Entry]
Exec=spectacle -b -r -k -c -n
Name=Rectangle Screenshot
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
