[Desktop Entry]
Exec=/home/paul/.local/bin/agent
Name=Agent
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
